---
import Layout from "../layouts/Layout.astro";

import Hero from "../components/Hero.astro"
import SectionContainer from "../components/SectionContainer.astro";
import Projects from "../components/Projects.astro";
import Skills from "../components/Skills.astro"
import CodeIcon from "../assets/images/icons/CodeIcon.astro"
import SkillsIcon from "../assets/images/icons/SkillsIcon.astro"

---

<Layout 
	title="José Rafael - Developer and Web Programmer" 
	description="Welcome to José Rafael's Portfolio: A dedicated web developer with a passion for modern web technologies. Explore my work and feel free to get in touch."
>
	<main class="px-4">
		<SectionContainer class="py-16 md:py-36">
			<Hero>
				</slot>
			</Hero>
		</SectionContainer>
	
		<SectionContainer id="projects">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <CodeIcon class="size-7" />
        Projects
      </h2>
      <Projects />
    </SectionContainer>

		<SectionContainer id="skills">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <SkillsIcon class="size-7" />
        Skills
      </h2>
      <Skills />
    </SectionContainer>
	</main>
</Layout>
