---

import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"

interface Props {
	title: string;
	description: string;
}

const { description, title } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		
		<title>{title}</title>
		<meta name="description" content={description} />
		<meta name="keywords" content="porfolio, portafolio, porfolio, Portfolio, Jose Rafael, jose rafael, José Rafael, joserafael, web developer, Web Developer, web development, programmer, Web programmer" />
	  <meta name="author" content="José Rafael" />
	
		<meta name="robots" content="index, follow" />
		<link rel="canonical" href="https://joserafael.pages.dev" />

		<link rel="icon" type="image/svg+xml" href="/assets/favicon/favicon.svg" />
	</head>
	<body>
		<div class="absolute top-0 z-[-2] h-screen w-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"></div>
		<Header />
		<slot />
		<Footer />
	</body>
</html> 

<style is:global>
	:root {
		color-scheme: light dark;
	}

	html {
		font-family:  system-ui, sans-serif;
		scroll-behavior: smooth;
	}

	body {
		background: #050505;
		display: flex;
		flex-direction: column;
		align-items: center;
		min-height: 100vh;
		color: white;
	}
	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}
</style>
